.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: scale(1.03); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    cursor: pointer;
}

#price-slider {
    width: 90%;
}

#price-slider .noUi-target {
    background-color: #f0f0f0; 
    height: 5px; 
}

#price-slider .noUi-connect {
    background-color: black; 
    height: 5px; 
}

#price-slider .noUi-base {
    height: 5px;
}

#price-slider .noUi-handle::after,
#price-slider .noUi-handle::before {
    display: none;
}



#price-slider .noUi-handle {
    width: 20px; 
    height: 20px; 
    background-color: #ffffff; 
    border: 1px solid #000; 
    border-radius: 50%;
    cursor: grab; 
    transition: transform 0.2s ease; 
}


